/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
body {
  font-family: "League Spartan", sans-serif;
}
/* ------------------ */
.header {
  background-color: #dedede;
  margin-bottom: 43px;
}
.header__container {
  width: 1137px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 5px;
}

.main-info {
  width: 50%;
}
.main-info__title {
  font-style: normal;
  font-weight: 300;
  font-size: 250px;
  line-height: 230px;
  color: #272727;

  margin-top: 189px;
  margin-bottom: 43px;
}
.main-info__text {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 155%;
  color: #161515;
  margin-bottom: 60px;
}

.interaction {
  display: flex;
}
.interaction__button {
  display: flex;
  background: #161515;
  width: 278px;
  height: 82px;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 29px;
  margin-bottom: 168px;
  color: #ffffff;
  transition: 0.6s;
}
.interaction__button:hover {
  transform: scale(1.1);
  color: #c2c2c2;
}
.interaction__text {
  width: 143px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 0px 28px rgba(214, 214, 214, 0.25);
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 186%;
  color: #272727;
  margin-bottom: 168px;
}
@media (max-width: 1140px) {
  .header__image {
    display: none;
  }
  .main-info {
    width: 100%;
  }
  .header__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0 5px;
  }
  .main-info__title {
    font-size: 150px;
  }
}
@media (max-width: 900px) {
  .interaction {
    display: flex;
    flex-direction: column;
  }
  .interaction__button {
    margin-bottom: 0;
  }
}
@media (max-width: 650px) {
  .header {
    background-color: #fff;
  }
  .main-container {
    width: 100%;
  }
}
/* ------------Popular models------------ */

.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 530px;
  margin: 0 auto;
}
.main-container__title p {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 186%;
  text-align: center;
  color: #000000;
}
.main-container__title h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 112.5%;
  text-align: center;
  color: #000000;
  margin-bottom: 84px;
}

.watchs__image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  width: 417px;
  height: 630px;
  margin: 0 auto;
  margin-bottom: 67px;
}
.watchs__image img {
  padding: 110px 60px 110px 71px;
}

.text {
  margin-bottom: 65px;
}
.text__title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 29px;
  text-align: center;

  color: #000000;
}
.text__info {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 155%;
  text-align: center;
  color: #161515;
}

.description__title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 186%;
  text-align: center;
  text-transform: capitalize;
  color: #161515;
}
.line {
  margin: 0 auto;
  width: 178px;
  height: 1px;
  background-color: #707070;
  margin-bottom: 49px;
}
.description__info {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 170%;
  text-align: center;
  color: #161515;
}

.description__link {
  text-decoration: underline;
  font-weight: 500;
  color: #bb8b5d;
}
